.container-primary{
  background-color: #fff;
  height: fit-content;
  padding-bottom: 50px;
  max-width: 1990px;
  min-width: 320px;

  display: flex;
  align-items: center;
  flex-direction: column;
  
  text-align: center;
}



.div-cards{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  gap: clamp(40px, 5vw, 100px);
  max-width: 1700px;
  margin: 0 auto;
}
@media (min-width: 1100px) {
  .div-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1650px) {
  .div-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.div-title{
  text-align: center;
  padding: 80px 40px;
  font-family: var(--font-libre-rich);
}

.title-section-one{
  font-weight: 700;
  font-size: 30px;
}

.about-title-section-one{
  font-size: 13px;
  font-weight: 100;
}