.container-about{
  height: fit-content;
  background-color: var(--black-main);
  color: var(--white-main);
  font-family: var(--font-libre-rich);
  text-align: center;

  padding: 40px 35px;
}

.about-text-h3{
  font-size: 21px;
  font-weight: 100;
  padding: 15px 0;
}

strong{
  font-weight: 800;
} 

.images-review{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.image-review{
  
}

.image-review-one{
  width: 320px;
  align-self: flex-start;
}

.image-review-two{
  width: 250px;
  align-self: flex-end;
  
}

.image-review-three{
  width: 250px;
  align-self: flex-start;
}

.image-review-four{
  width: 300px;
  align-self: flex-end;
}
